# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
frontend/node_modules/*

# Expo
frontend/.expo/
frontend/dist/
frontend/web-build/

*/my-gcp-project-409521-6211347f3649.json
# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
frontend/npm-debug.*
frontend/yarn-debug.*
frontend/yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local
.env

# typescript
*.tsbuildinfo

#python 
*.pyc

# models
lib*.tar.gz