name: publish

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  REGISTRY: ghcr.io

jobs:

  publish:
    name: publish images
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Debug
        run: pwd && ls
      - name: Login
        run: |
          echo ${{ secrets.CR_PAT }} | docker login ghcr.io -u ${{ github.actor }} --password-stdin
      - name: Build and Publish list_manager
        run: |
          docker build -f ./backend/list_manager/Dockerfile -t ghcr.io/beny2000/list_manager:latest .
          docker push ghcr.io/beny2000/list_manager:latest
